__pycache__/
*.pyc
*.o
*.so
*.egg
*.egg-info/
.coverage
.tox/
.pytest_cache/
htmlcov/
dist/
build/
*.whl

web3venv/ 

.vscode/ 

.DS_Store #mac
Thumbs.db # Windows
desktop.ini # Windows

.env # For environment variables (API keys, etc.)
*.log
*.sqlite3 # For SQLite databases like db.sqlite3